[submodule "ms-user"]
	path = ms-user
	url = https://github.com/Paulofsr/ms-user
	branch = master
[submodule "ms-location"]
	path = ms-location
	url = https://github.com/Paulofsr/ms-location
	branch = master
[submodule "ms-api-location"]
	path = ms-api-location
	url = https://github.com/Paulofsr/ms-api-location
	branch = master
